/* Error: There is no module with the namespace "color".
 *    ,
 * 54 |             background: linear-gradient(135deg, $primary-color, color.adjust($color, $lightness: -10%));
 *    |                                                                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   public\scss\main.scss 54:65  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid rgb(118, 36, 36);
  content: 'Error: There is no module with the namespace "color".\a    \2577 \a 54 \2502              background: linear-gradient(135deg, $primary-color, color.adjust($color, $lightness: -10%));\d\a    \2502                                                                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   public\\scss\\main.scss 54:65  root stylesheet';
}